<!DOCTYPE html>
<html lang="en">

<head>
  <title>Validador de CPF com CPF validado</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div class="bg-contact100">
    <div class="container-contact100">
      <div class="wrap-contact100">
        <span class="contact100-form-title" th:if="${verdade}">
          Dados validados com sucesso
        </span>
        <span class="contact100-form-title" th:unless="${verdade}">
          Dados não validados com sucesso
        </span>
      </div>
    </div>
  </div>
</body>

</html>