<!DOCTYPE html>
<html lang="en">

<head>
	<title>Validador de CPF</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div class="bg-contact100">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<form class="contact100-form" action="/valida-cpf" method="GET">
					<span class="contact100-form-title">
						Formulário
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="nome" placeholder="Nome" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
						<input class="input100" type="text" name="cpf" placeholder="CPF" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-badge" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Enviar
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>

</html>